  <div class="row">
    <div class="col-md-5">
      <h3 class="submitFont">Burgers to eat!</h3>
      <div id="burgersAvailable">

        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-danger devour-button" type="submit">EAT THE BURGER!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-md-2"></div> 

    <div class="col-md-5">
      <h3 class="submitFont">Burgers already eaten!</h3>
      <div id="alreadyEaten">

        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
</div>